.grid {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.grid-row {
    width: 99%;
    height: 33.33%;
}

.grid-cell {
    width: 32%;
    height: 98%;
    background-color: gray;
    border-color: black;
    border: 2px;
    border-style: solid;
    position: relative;
    float:left;
}
